
@media (min-width: 320px) and (max-width: 576px) { 
    .offset-3 {
    margin-left: 0;
}
.offset-1{
    margin-left: 0;
}
.social-icon-control img {
    width: 50px;
    height: 50px;
    margin-left: 17px;
}
 }